body {
    background: lightgray;
}

.container {
    width: 960px;
    margin: auto;
    background: white;
}

/*PARTE DO CABEÇALHO*/

.cabecalho {
    background: red;
    color:  white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho h1 {
    padding-left: 15px;
}

.navbar {
    width: 50%;
    display: flex;
    justify-content: space-around;
} 

.navbar a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

/*PARTE DO CONTEUDO E ARTIGO*/

.content{
    display: flex;
    justify-content: space-between;
}

.article {
    width: 60%;
}

.article img {
    width: 100%;
}

.links {
    width: 30%;
}

/*PARTE DO RODAPE*/

.rodape {
    background: red;
    color: white;
    text-align: center;
}

.rodape h1 {
    padding: 10px;
}

/*PARTE DE RESPONSIVIDADE*/

@media screen and (max-width: 600px) {
    .container {
        width: 100%;
    }
    
    .content{
        display: block;
    }

    .article{
        width: 100%;
    }
}